$color_1: black;
$color_2: darkred;
$color_3: red;
$font-family_1: Verdana, Arial, Tahoma, Serif;
$background-color_1: darkred;
$background-color_2: black;

// @charset "UTF-8";
@import "https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap";
@-webkit-keyframes fade {
	from {
		margin-top: 10px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}
@keyframes fade {
	from {
		margin-top: 10px;
		opacity: 0;
	}
	to {
		margin-top: 0;
		opacity: 1;
	}
}

* {
	margin: 0;
	padding: 0;
	font-family: $font-family_1;
}
body {
	.juststyling {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
	}
}
nav {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	background-color: $background-color_2;
	background-attachment: fixed;
	background-size: cover;
	background-position: right;
	padding: 12px;
	border-left: darkgrey;
	border-top: none;
	border-right: darkgrey;
	border-bottom: darkgrey;
	border-style: solid;
	border-radius: 5px;
	-webkit-box-shadow: 0 5px 15px darkred;
	box-shadow: 0 5px 15px darkred;
	label {
		margin: 0 5px;
		display: block;
		background: black;
		border-radius: 5px;
		font-size: 14px;
		font-weight: 600;
		padding: 5px 13px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		align-items: center;
		color: $color_2;
		input {
			margin-right: 5px;
		}
		i {
			margin-left: -23px;
			margin-right: 16px;
			color: $color_3;
		}
		input#search {
			border-top: black;
			border-radius: 3px;
			padding: 0px 5px;
			margin-left: -6px;
			height: 27px;
		}
	}
}
main {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.juststyling {
	padding: 1rem;
	background: white;
	h1 {
		background-color: $background-color_1;
		letter-spacing: 0rem;
		padding: 0 10px;
		border-left: darkgrey;
		border-right: darkgrey;
		border-bottom: darkgrey;
		border-top: transparent;
		border-style: solid;
		border-radius: 5px;
		display: inline;
		color: $color_1;
		font-weight: 600;
		-webkit-box-shadow: 0 5px 15px darkred;
		box-shadow: 0 5px 15px darkred;
		&:after {
			color: $color_1;
			letter-spacing: 0rem;
			margin-left: 10px;
		}
	}
}
main {
	max-width: 1000px;
	margin: 0 auto;
	ul {
		margin-top: 2rem;
		display: grid;
		-ms-grid-columns: 1fr 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr 1fr;
		grid-gap: 2rem 2rem;
		list-style: none;
		a {
			overflow: none;
			img {
				border-radius: 8px;
				-webkit-box-shadow: 0 5px 15px darkred;
				box-shadow: 0 5px 15px darkred;
				height: 100%;
				width: 100%;
				opacity: 0.7;
				&:hover {
					opacity: 0.8;
					-webkit-transform: scale(1.10);
					transform: scale(1.10);
					-webkit-transition: -webkit-transform 500ms ease-out;
					transition: -webkit-transform 500ms ease-out;
				}
			}
			img.hi {
				opacity: 1;
				-webkit-animation: fade 1s;
				animation: fade 1s;
			}
		}
	}
}
@media only screen and (max-width: 1020px) {
	main {
		ul {
			-ms-grid-columns: 1fr 1fr 1fr;
			grid-template-columns: 1fr 1fr 1fr;
		}
	}
}
@media only screen and (max-width: 870px) {
	main {
		ul {
			-ms-grid-columns: 1fr 1fr;
			grid-template-columns: 1fr 1fr;
		}
	}
	nav {
		display: block !important;
		label {
			display: inline-block;
			margin: 2px;
			padding: 10px 13px;
			input#search {
				padding: 0px 5px;
				margin-left: -6px;
				margin-top: -4px;
				margin-bottom: -4px;
				height: 26px;
			}
		}
	}
}
@media only screen and (max-width: 420px) {
	main {
		ul {
			-ms-grid-columns: 1fr;
			grid-template-columns: 1fr;
		}
	}
}
/*# sourceMappingURL=style.css.map */